* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375C;
    --secondary-color: #2E80CE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', sans-serif;
}

/* Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #fff;
    background-color: var(--secondary-color);
    height: 60px;
    padding: 0 20px;
    border-radius: 999px;
    border: 1px solid var(--secondary-color);
    font-weight: 400;
    line-height: 60px;
    min-width: 205px;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}


.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: var(--primary-color);
}

.section-desc {
    margin-top: 18px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575F66;
}

/* Header */
header {
    min-height: 100vh;
    background: var(--primary-color);
    padding-top: 30px;
}

/* Header-top */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    color: #C9D2DA;
    font-weight: 300;
    padding: 4px 21px;
}

.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    left: -8px;
    top: -2px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::after,
.logo__circle::before {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: var(--secondary-color);
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.header-action {
    display: flex;
    align-items: center;
    justify-content: center
}

.header-action__signup {
    min-width: 104px;
    height: 44px;
    line-height: 44px;
}

.header-action__login {
    margin-right: 7px;
}

/* Hero */
.hero {
    margin-top: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #FFFFFF
}

.hero__desc {
    margin-top: 22px;
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #C9D2DA;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    font-size: 1.8rem;
    line-height: 1.67;
    text-align: center;
    color: #FFFFFF;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

/* Service */
.service {
    padding: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    width: 470px;
    background: #FFFFFF;
    border-radius: 10px; 
    display: flex;
    padding: 22px;
    transition: .25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background-color: var(--secondary-color);
    color: #fff;
}

.service-item__icon {
    width: 60px;
    height: 60px;
    color: var(--primary-color);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    background: #EFF6FD;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    transition: .25s;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: var(--primary-color);
}

.service-item__desc {
    margin-top: 8px;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575F66;
}

.service-list {
    margin-top: 55px;
}

/* Work */
.work {
    background-color: #F7FBFF;
    padding: 100px 0;
}

.work__desc {
    width: 468px;
}

.work__list {
    margin-top: 86px;
    display: grid;
    column-gap: 30px;   
    grid-template-columns: 1fr 1fr 1fr;
}

.work-item {
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    padding: 42px;
    transition: .25s;
}

.work-item:hover {
    transform: translateY(-16px);
    border: 16px solid #2E80CE;
}

.work-item__heading {
    font-weight: 600;
    margin-top: 20px;
    font-size: 2.6rem;
    line-height: 1.38;
    color: var(--primary-color);
}

.work-item__desc {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575F66;
    width: 254px;
    margin-top: 28px;
}

.work-item__more {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2E80CE;
    margin-top: 18px;
    display: inline-block;
}

/* Feature */
.feature {
    margin-top: 85px;
    padding: 85px 0;
}

.feature__media {
    width: 49%;
}

.feature__images {
    position: relative;
    padding-bottom: 121px;
    padding-right: 58px;
}

.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img:last-child {
    width: 332px;
    height: 370px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__cta {
    margin-top: 38px;
}